WebStoreClient/src/conf/xml-resources/web-service-references/ServiceStore/wsdl/localhost_8080/WebStoreService/ServiceStore.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serv.store.java.ua/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serv.store.java.ua/">

<xs:element name="deleteCheck" type="tns:deleteCheck"/>

<xs:element name="deleteCheckResponse" type="tns:deleteCheckResponse"/>

<xs:element name="deleteManuf" type="tns:deleteManuf"/>

<xs:element name="deleteManufResponse" type="tns:deleteManufResponse"/>

<xs:element name="deleteProduct" type="tns:deleteProduct"/>

<xs:element name="deleteProductResponse" type="tns:deleteProductResponse"/>

<xs:element name="getAllProducts" type="tns:getAllProducts"/>

<xs:element name="getAllProductsResponse" type="tns:getAllProductsResponse"/>

<xs:element name="getCheck" type="tns:getCheck"/>

<xs:element name="getCheckResponse" type="tns:getCheckResponse"/>

<xs:element name="getChecks" type="tns:getChecks"/>

<xs:element name="getChecksResponse" type="tns:getChecksResponse"/>

<xs:element name="getManuf" type="tns:getManuf"/>

<xs:element name="getManufResponse" type="tns:getManufResponse"/>

<xs:element name="getProduct" type="tns:getProduct"/>

<xs:element name="getProductResponse" type="tns:getProductResponse"/>

<xs:element name="getProducts" type="tns:getProducts"/>

<xs:element name="getProductsResponse" type="tns:getProductsResponse"/>

<xs:element name="getTypes" type="tns:getTypes"/>

<xs:element name="getTypesResponse" type="tns:getTypesResponse"/>

<xs:element name="insertCheck" type="tns:insertCheck"/>

<xs:element name="insertCheckResponse" type="tns:insertCheckResponse"/>

<xs:element name="insertManuf" type="tns:insertManuf"/>

<xs:element name="insertManufResponse" type="tns:insertManufResponse"/>

<xs:element name="insertProduct" type="tns:insertProduct"/>

<xs:element name="insertProductResponse" type="tns:insertProductResponse"/>

<xs:element name="insertType" type="tns:insertType"/>

<xs:element name="insertTypeResponse" type="tns:insertTypeResponse"/>

<xs:element name="updateProduct" type="tns:updateProduct"/>

<xs:element name="updateProductResponse" type="tns:updateProductResponse"/>

<xs:complexType name="getManuf">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getManufResponse">
<xs:sequence>
<xs:element name="return" type="tns:manufacturer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufacturer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="logo" type="xs:string" minOccurs="0"/>
<xs:element name="name_m" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteManuf">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteManufResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProducts">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="amount" type="xs:int"/>
<xs:element name="cost" type="xs:int"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="discont" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="manuf" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="size" type="xs:int"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCheck">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCheckResponse">
<xs:sequence>
<xs:element name="return" type="tns:check" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check">
<xs:sequence>
<xs:element name="fullcost" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name_u" type="xs:string" minOccurs="0"/>
<xs:element name="phon_u" type="xs:string" minOccurs="0"/>
<xs:element name="products" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChecks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getChecksResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCheck">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCheckResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertCheck">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertCheckResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:double"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:double"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertType">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertManuf">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertManufResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>