WebStoreClient/web/WEB-INF/wsdl/localhost_8080/WebStoreService/ServiceStore.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serv.store.java.ua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serv.store.java.ua/" name="ServiceStore">
<types>
<xsd:schema>
<xsd:import namespace="http://serv.store.java.ua/" schemaLocation="http://localhost:8080/WebStoreService/ServiceStore?xsd=1"/>
</xsd:schema>
</types>
<message name="getTypes">
<part name="parameters" element="tns:getTypes"/>
</message>
<message name="getTypesResponse">
<part name="parameters" element="tns:getTypesResponse"/>
</message>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="getCheck">
<part name="parameters" element="tns:getCheck"/>
</message>
<message name="getCheckResponse">
<part name="parameters" element="tns:getCheckResponse"/>
</message>
<message name="getManuf">
<part name="parameters" element="tns:getManuf"/>
</message>
<message name="getManufResponse">
<part name="parameters" element="tns:getManufResponse"/>
</message>
<message name="insertManuf">
<part name="parameters" element="tns:insertManuf"/>
</message>
<message name="insertManufResponse">
<part name="parameters" element="tns:insertManufResponse"/>
</message>
<message name="deleteCheck">
<part name="parameters" element="tns:deleteCheck"/>
</message>
<message name="deleteCheckResponse">
<part name="parameters" element="tns:deleteCheckResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="insertCheck">
<part name="parameters" element="tns:insertCheck"/>
</message>
<message name="insertCheckResponse">
<part name="parameters" element="tns:insertCheckResponse"/>
</message>
<message name="getChecks">
<part name="parameters" element="tns:getChecks"/>
</message>
<message name="getChecksResponse">
<part name="parameters" element="tns:getChecksResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="insertProduct">
<part name="parameters" element="tns:insertProduct"/>
</message>
<message name="insertProductResponse">
<part name="parameters" element="tns:insertProductResponse"/>
</message>
<message name="insertType">
<part name="parameters" element="tns:insertType"/>
</message>
<message name="insertTypeResponse">
<part name="parameters" element="tns:insertTypeResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="deleteManuf">
<part name="parameters" element="tns:deleteManuf"/>
</message>
<message name="deleteManufResponse">
<part name="parameters" element="tns:deleteManufResponse"/>
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<portType name="ServiceStore">
<operation name="getTypes">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getTypesRequest" message="tns:getTypes"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getTypesResponse" message="tns:getTypesResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="getCheck">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getCheckRequest" message="tns:getCheck"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getCheckResponse" message="tns:getCheckResponse"/>
</operation>
<operation name="getManuf">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getManufRequest" message="tns:getManuf"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getManufResponse" message="tns:getManufResponse"/>
</operation>
<operation name="insertManuf">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/insertManufRequest" message="tns:insertManuf"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/insertManufResponse" message="tns:insertManufResponse"/>
</operation>
<operation name="deleteCheck">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/deleteCheckRequest" message="tns:deleteCheck"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/deleteCheckResponse" message="tns:deleteCheckResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="insertCheck">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/insertCheckRequest" message="tns:insertCheck"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/insertCheckResponse" message="tns:insertCheckResponse"/>
</operation>
<operation name="getChecks">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getChecksRequest" message="tns:getChecks"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getChecksResponse" message="tns:getChecksResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="insertProduct">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/insertProductRequest" message="tns:insertProduct"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/insertProductResponse" message="tns:insertProductResponse"/>
</operation>
<operation name="insertType">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/insertTypeRequest" message="tns:insertType"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/insertTypeResponse" message="tns:insertTypeResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="deleteManuf">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/deleteManufRequest" message="tns:deleteManuf"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/deleteManufResponse" message="tns:deleteManufResponse"/>
</operation>
<operation name="getProducts">
<input wsam:Action="http://serv.store.java.ua/ServiceStore/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://serv.store.java.ua/ServiceStore/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
</portType>
<binding name="ServiceStorePortBinding" type="tns:ServiceStore">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getManuf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertManuf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChecks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteManuf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceStore">
<port name="ServiceStorePort" binding="tns:ServiceStorePortBinding">
<soap:address location="http://localhost:8080/WebStoreService/ServiceStore"/>
</port>
</service>
</definitions>